body {
    text-align: center;
    color: white;
    background-color: rgb(27, 27, 27);
    margin: 0;
    padding: 0;
    font-family: 'Bahnschrift';
}

.tab p {
    padding: 0px;
    margin: 0px;
}

header {
    margin-top: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 10000;
    padding : 5px;
}

.navbar-left {
    display: flex;
}

.navbar-center {
    display: flex;
}

.navbar-right {
    display: flex;
}

a {
    margin: auto;
}

h1 {
    margin: 0;
    padding: 10px 25px;
}

.button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 16px;
    margin-right: 25px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Bahnschrift';
}
  
.button:hover {
    background-color: royalblue;
}

.edit {
    padding: 7px 10px;
    background-color: white;
    transition: 0.2s;
    border-radius: 5px;
    outline: 2px solid royalblue;
    border : none;
    cursor:pointer;
}

.edit:hover {
    padding: 7px 10px;
    background-color: royalblue;
    color: white;
    transition: 0.2s;
    border-radius: 5px;
    outline: 2px solid white;
    border : none;
    cursor:pointer;
}

.delete {
    padding: 7px 10px;
    background-color: white;
    transition: 0.2s;
    border-radius: 5px;
    outline: 2px solid red;
    border : none;
    cursor:pointer;
}

.delete:hover {
    padding: 7px 10px;
    background-color: red;
    color: white;
    transition: 0.2s;
    border-radius: 5px;
    outline: 2px solid white;
    border : none;
    cursor:pointer;
}

.confirm {
    padding: 7px 10px;
    background-color: white;
    transition: 0.2s;
    border-radius: 5px;
    outline: 2px solid #18ce00;
    border : none;
    cursor:pointer;
}

.confirm:hover {
    padding: 7px 10px;
    background-color: #18ce00;
    color: white;
    transition: 0.2s;
    border-radius: 5px;
    outline: 2px solid white;
    border : none;
    cursor:pointer;
}

.main {
    background-color: royalblue;
    margin: auto;
    max-width: 1200px;
    padding: 10px 10px;
    margin-bottom: 50px;
    border: 2px solid white;
    border-radius: 5px;
}

table {
    margin: 15px 15px 150px 15px;
}

td {
    padding: 10px;
    border: 1px solid darkgray;
}

th {
    padding:10px;
    color: #444;
    background-color: white;
}

h2 {
    margin-left: 20px;
    text-align: start;
}