body {
    color: rgb(255, 255, 255);
    background-image:url("../images/bg.jpg");
    margin: 0;
    padding: 0;
    font-family: 'Bahnschrift';
    text-align: start;
}


header {
    margin-top: 100px;
}
.navbarbook{
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 10000;
    padding : 5px;
}

.navbar-left {
    display: flex;
}

.navbar-center {
    display: flex;
}

.navbar-right {
    display: flex;
}

a {
    margin: auto;
}

h1 {
    margin: 0;
    padding: 10px 25px;
}

h2 {
    margin-left: 100px;
    padding: 0px;
    text-align: start;
}

h3 {
    padding-top: 50px;
    text-align: center;
    font-size: 32px;
}

ul {
    list-style-type: none;
    padding: 0px
}

li {
    padding: 5px 0px;
}

.tab a {
    color: inherit;
    padding: 0px;
    margin: 0px;
    display: flex;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 16px;
    margin-right: 25px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Bahnschrift';
}
  
.button:hover {
    background-color: royalblue;
}

fieldset {
    margin: 5px 0px;
    border-color: darkgrey;
    border-radius: 10px;
}

input[type=minprice],[type=maxprice] {
    font-size: 16px;
    font-family: 'Bahnschrift';
    font-weight: lighter;
    color: #464646;
    padding: 3px 3px;
    width: 315px;
    border-radius: 5px;
    border : none;
}

input[type=submit] {
    padding: 10px 160px;
    margin-top: 5px;
    cursor:pointer;
    background-color: white;
    color : grey;
    border : none;
    border-radius: 5px;
    font-family: 'Bahnschrift';
    transition: 0.2s;
}

input:hover[type=submit] {

    margin-top: 5px;
    cursor : pointer;
    background-color: royalblue;
    color : white;
    outline : 1px solid white;
    border-radius: 5px;
    font-family: 'Bahnschrift';
}

.search {
    background-color: #444444;
    margin-left: 100px;
    padding: 10px 10px;
    margin-bottom: 50px;
    border: 2px solid white;
    border-radius: 5px;
}

.result {
    width: 100%;
    min-width: 360px;
    margin-left: 25px;
    margin-right: 100px;
    padding: 10px 10px;
    margin-bottom: 50px;
    
}

.tab {
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid gray;
    display: flex;
}

.roompic {
    border : 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
}

.roomtext {
    margin: auto 0px;
}

.main {
    display: flex;
}

p {
    padding: 0px;
    margin: 0px;
}

h4 {
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}

h5 {
    font-size: 20px;
    padding: 0px;
    margin:0px;
    color: green;
}

footer {
    text-align: center;
}
.scroller {

    overflow-y: scroll;
    height: 350px;
    width: 30%;
    scrollbar-color: rgb(0, 0, 0) rgb(255, 255, 255);


}
.scroller2 {
    margin-left: 10px;
    overflow-y: scroll;
    height: 350px;
    width: 60%;
    scrollbar-color: rgb(0, 0, 0) rgb(255, 255, 255);

}
